@charset "ISO-8859-1";

td.staff {
	border-radius: 5px;
	border-bottom: 5px solid blue;
}

td.menu {
	border-radius: 5px;
}
.menu {
	background-color: #000040;
	color: #ffffff;
	font-family: verdana;
}

body {
	background-color: #be93ff;
	background-image: url("https://wallpapercave.com/wp/no4OgdQ.jpg");
}

.main {
	border-style: solid;
	border-color: #000000;
	border-width: medium;
	background-color: #87c2c2;
	border-radius: 5px;
}

.content {
	border-left: 5px solid #204040;
	border-bottom: 5px solid #142727;
	background-color: #3d767a;
}

.header {
	
}

#myform {
	background-color: #3d767a;
}
/* 6 so far */